<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<select id="selectList" resultType="spring.command.BoardCommand">
		select b_number,b_subject,b_writer,b_regdate,b_count,p_number,
		(select count(*) from comments c where c.b_number=b.b_number) c_count,
		(select p_name from park p where p.p_number = b.p_number) p_name
		from board b 
		order by b_number desc
	</select>
	
	<select id="grouping_selectList" parameterType="string" resultType="spring.command.BoardCommand">
	    select b_number,b_subject,b_writer,b_regdate,b_count,p_number,
		(select count(*) from comments c where c.b_number=b.b_number) c_count,
		(select p_name from park p where p.p_number = b.p_number) p_name
		from board b where p_number=#{string}
		order by b_number desc
	</select>


	<select id="search_subject" parameterType="string" resultType="spring.command.BoardCommand">
		select b_number,b_subject,b_writer,b_regdate,b_count,p_number,
		(select count(*) from comments c where c.b_number=b.b_number) c_count,
		(select p_name from park p where p.p_number = b.p_number) p_name
		from board b where b_subject like '%'||#{string}||'%'
		order by b_number desc
	</select>

	<select id="grouping_search_subject" parameterType="spring.command.BoardGroupingCommand" resultType="spring.command.BoardCommand">
		select b_number,b_subject,b_writer,b_regdate,b_count,p_number,
		(select count(*) from comments c where c.b_number=b.b_number) c_count,
		(select p_name from park p where p.p_number = b.p_number) p_name
		from board b where b_subject like '%'||#{keyword}||'%' and p_number=#{grouping}
		order by b_number desc
	</select>

	<select id="search_writer" parameterType="string" resultType="spring.command.BoardCommand">
		select b_number,b_subject,b_writer,b_regdate,b_count,p_number,
		(select count(*) from comments c where c.b_number=b.b_number) c_count,
		(select p_name from park p where p.p_number = b.p_number) p_name
		from board b where b_writer like '%'||#{string}||'%'
		order by b_number desc
	</select>
	
	<select id="grouping_search_writer" parameterType="spring.command.BoardGroupingCommand" resultType="spring.command.BoardCommand">
		select b_number,b_subject,b_writer,b_regdate,b_count,p_number,
		(select count(*) from comments c where c.b_number=b.b_number) c_count,
		(select p_name from park p where p.p_number = b.p_number) p_name
		from board b where b_writer like '%'||#{keyword}||'%' and p_number=#{grouping}
		order by b_number desc
	    
	</select>
	

	<select id="selectOne" parameterType="int" resultType="spring.command.BoardCommand">
		select
		b_number,b_subject,b_writer,b_regdate,b_count,p_number,b_content,p_number,b_id,
		(select count(*) from comments c where c.b_number=b.b_number) c_count,
		(select p_name from park p where p.p_number = b.p_number) p_name
		from board b where b_number=#{int}
	</select>

	<update id="update_b_count" parameterType="int">
		update board set b_count=b_count+1 where b_number=#{int}
	</update>

	<insert id="insertOne" parameterType="spring.command.BoardCommand">
		insert into board (b_number,b_subject,b_writer,b_regdate,b_content,p_number,b_id)
		values(seq_b_number.NEXTVAL, #{b_subject},
		#{b_writer},sysdate,#{b_content},#{p_number},#{b_id})
	</insert>

	<update id="updateOne" parameterType="spring.command.BoardCommand">
		update board
		set b_subject=#{b_subject},b_writer=#{b_writer}, b_content=#{b_content},
		p_number=#{p_number}
		where b_number=#{b_number}
	</update>

	<delete id="deleteOne" parameterType="int">
		delete from board where b_number=#{int}
	</delete>
	
	<select id="selectCommentsList" parameterType="int" resultType="spring.command.CommentsCommand">
	    select c_number, c_writer, c_content, c_regdate from comments where b_number=#{int} order by c_number
	</select>
	
	<insert id="insertComments" parameterType="spring.command.CommentsCommand">
	    insert into comments (c_number, b_number, c_writer, c_regdate, c_content) 
	    values(seq_c_number.NEXTVAL,#{b_number}, #{c_writer}, sysdate, #{c_content})
	</insert>
	
	<delete id="deleteComments" parameterType="spring.command.CommentsCommand">
	    delete from comments where c_number=#{c_number} and b_number=#{b_number}
	</delete>
	
	<select id="countComments" parameterType="int" resultType="int">
		select count(*) from comments where b_number=#{int}
	</select>
	
	<delete id="deleteAllComments" parameterType="int">
	    delete from comments where b_number=#{int}
	</delete>



</mapper>