<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SearchMap">


	<select id="selectId" resultType="spring.command.UserInfo">
		select id from member where name=#{name} and email=#{email}
	</select>

	<select id="isId" resultType="int" parameterType="spring.command.UserInfo">
		select count(*) from member where name=#{name} and email=#{email}
	</select>

		<select id="selectPwd" resultType="spring.command.UserInfo">
		select pwd from member where id=#{id} and name=#{name} and email=#{email}
	</select>

	<select id="isPwd" resultType="int" parameterType="spring.command.UserInfo">
		select count(*) from member where id=#{id} and name=#{name} and email=#{email}
	</select>
</mapper>