@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#container{
		width: 1000;
		height: 500;
		margin: auto;
	}
	#home{
		width: 1000;
		height: 500;
		border: 1px solid;
	}
	#main_picture{
		width: 980;
		height: 380;
		display: block;
		margin: auto;
		margin-top: 20;
	}
	#park_container{
		width: 950;
		height: 380;
		display: none;
		margin: auto;
		margin-top: 20;
		position: relative;
/* 		background-image: url('icon/book.png');
		background-repeat: no-repeat;
		background-position: center;
		 */
	}
	#park_picture{
		width: 500;
		height: 380;
		margin-right: 45;
		float: left;
	}
	#park_introduce{
		width: 400;
		height: 380;
		float: left;
		/* border:green 1px solid; */
	}
	#park_name{
		width:50;
		height:80;
		margin: auto;
	}
	#park_info{
		width:480;
		height:150;
		margin: auto;
		display: table-cell;
		vertical-align: middle;
	}
	#park_info div{
		display: none;
	}
	#park_info table{
		margin-top:30;
		margin-left: 30;
	}
	#park_info tr{
		height: 50;
	}
	#park_info td:first-child{
		font-size: 20;
		font-family: 'Nanum Gothic', sans-serif;
		font-weight: bold;	
	}
	#park_info td{
		font-family: 'Nanum Gothic', sans-serif;
	}
	#park_btn{
		width:480;
		height:100;
		margin: auto;
		display: table-cell;
		vertical-align: middle;
	}
	#park_name div{
		display: none;
	}
	#park_btn li{
		margin-right: 10;
	}
	#park_btn div{
		display: none;
	}
	#park_icon{
		height: 80;
		margin: auto;
		
	}
	#park_icon li{
		position: relative;
		float: left;
		margin-right: 12;
	}
