@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 17px;
}

table{
	margin: auto;
}

div{
	width : 400px;
	margin:auto;
	text-align: center;
}

div:input{
	width: 300px;
	margin: auto;
}

div#zipCheck_content, #selectAddress{
	width: 650px;
	margin: auto;
	margin-bottom: 10px;
}

div#view_top{
	margin-top: 50px;
	height: 30px;
}

a, a:link, a:visited, a:active{
	text-decoration:none;
	text-align:left;
	color:black;
	
	font-family: 'Nanum Gothic', sans-serif;
	font-style: none;
	font-size: 17px;	
}

#popupHeader{
	font-size: 21px;
	font-weight: bold;
}

.emailInput, .select{
	width: 130px;
	padding: 3px 3px;
	margin-bottom: 15px;
}
#close{
	margin-left: 600px;
}